/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {
    /* overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #c40e0e;
    list-style-type: none;
    clear: left; */
    margin-bottom: 4px !important;
}

ul.token-input-list li {
    list-style-type: none;
}
.token-input-delete-token{
    background-size: 16px 16px;
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    margin-top: 4px;
}

ul.token-input-list li input {
    border: 0;
    width: 98% !important;
    padding: 3px 0px;
    background-color: white;
    -webkit-appearance: caret;
    padding-top: 0px;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 0px;
    padding: 3px 0px;
    background-color: transparent; 
    cursor: default;
    display: block;
    padding-top: 0px;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #fff;
    cursor: pointer;
    font-size: 1px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="rgb(220,63,69)" d="M432 32H320l-11.58-23.16C305.7 3.424 300.2 0 294.1 0H153.9C147.8 0 142.3 3.424 139.6 8.844L128 32H16C7.164 32 0 39.16 0 48v32C0 88.84 7.164 96 16 96h416C440.8 96 448 88.84 448 80v-32C448 39.16 440.8 32 432 32zM32 464C32 490.5 53.5 512 80 512h288c26.5 0 48-21.5 48-48V128H32V464zM143 256.1c-9.375-9.375-9.375-24.56 0-33.94s24.56-9.375 33.94 0l47.03 47.03l47.03-47.03c9.375-9.375 24.56-9.375 33.94 0s9.375 24.56 0 33.94L257.9 304l47.03 47.03c9.375 9.375 9.375 24.56 0 33.94c-9.381 9.379-24.56 9.371-33.94 0l-47.03-47.03l-47.03 47.03c-9.381 9.379-24.56 9.371-33.94 0c-9.375-9.375-9.375-24.56 0-33.94L190.1 304L143 256.1z"/></svg>');
}

/* li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
} */

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: auto;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 14px;
    font-family: Verdana;
    z-index: 1;
    max-width: 320px;
    min-width: 300px;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    padding-right: 15px;
    color: #2c2c2c;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #dddddd;
}

